<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAF_m-JKN0om4AUP4rYPvffM5dLGRDxr8</string>
	<key>GCM_SENDER_ID</key>
	<string>445310082592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medications</string>
	<key>PROJECT_ID</key>
	<string>medications-1ea0e</string>
	<key>STORAGE_BUCKET</key>
	<string>medications-1ea0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445310082592:ios:8e2eeb00d2c88d4c9ee645</string>
</dict>
</plist>